# IntelliJ project files
.idea/*
*.iml
out
gen

# Include IntelliJ file template for the Leetcode solution class
!.idea/fileTemplates
!.idea/file.template.settings.xml

# Gradle
.gradle

# Compiled class file
*.class